Source: libmedia-thumbnail
Section: libs
Priority: extra
Maintainer: Hyunjun Ko<zzoon.ko@samsung.com>, Byungwook Jang <bw.jang@samsung.com>
Uploaders: Hyunjun Ko<zzoon.ko@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev,
               dlog-dev,
               libmm-fileinfo-dev,
               libmm-utility-dev,
               drm-service-dev,
               libexif-dev,
               libheynoti-dev,
               libevas-dev,
               libecore-dev,
               libaul-1-dev
Standards-Version: 0.1
Homepage: N/A

Package: media-thumbnail-server
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Media Thumbnail Server.

Package: media-thumbnail-server-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Media Thumbnail Server debug pkg.

Package: libmedia-thumbnail
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Media thumbnail service library for multimedia applications.

Package: libmedia-thumbnail-dev
Section: libdevel
Architecture: any
Depends: libmedia-thumbnail (= ${Source-Version}), libmm-fileinfo-dev, libmm-utility-dev, libglib2.0-dev, dlog-dev, drm-service-dev, libevas-dev, libecore-dev, libexif-dev, libaul-1-dev
Description: Media thumbnail service library for multimedia applications. (development)

Package: libmedia-thumbnail-dbg
Section: debug
Architecture: any
Depends:  ${misc:Depends}, libmedia-thumbnail (= ${Source-Version})
Description: Media thumbnail service library for multimedia applications. (unstripped)

